body {
    background-color: rgb(161, 212, 227);
    align-items: center;
    justify-items: center;
    display: block;
}

div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

h1 {
    color: rgb(32, 22, 224);
}

p {
    font-size: 1.2em;
    text-align: justify;
}

ul li{
    margin-bottom: 10px;
    margin-right: 100px;
}

.hobbie {
    border-radius: 20px;
    width: 400px;
    height: 400px;   
}

table, tr, td {
    border: 3px solid  rgb(58, 58, 63);
}

table td img {
    width: 600px;
    height: 500px;
    margin: 16px;
    border-radius: 16px;
}

.cidade {
    background-color: rgb(17, 85, 112);
    text-align: center;
}

a {
    color: rgb(9, 9, 9);
}

a:hover {
    color: brown;
    cursor: pointer;
} 

button {
    background-color: blue;
    color: aliceblue;
    text-align: center;
    display: block;
    border-radius: 5px;
    height: 50px;
    width: 300px;
}